@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: sticky;
  left: 250px;
  width: 260px;
  height: 100vh;
  margin-left: -250px;
  overflow-y: hidden;
  background: #adadad;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-top-right-radius: 15px;
}

#sidebar header {
  background-color: #adadad;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  
  
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
  
  
}

#sidebar header a:hover {
  color: #fff;
  
}

#sidebar .nav{
  flex-direction: column;
  
}

#sidebar .nav li{
    padding: 16px 24px;
    border-bottom: 1px solid #cccccc;
}

#sidebar .nav li:hover{
    background-color: #e98a0d;
    cursor: pointer;
    border-radius: 5px;
}

#sidebar .nav div{
  background: none;
  color: #000000;
  font-size: 16px;
  flex-direction: column;
  text-decoration: none;
  
}

#sidebar .nav div:hover{
  background: none;
  color: #ECEFF1;
  
}

#sidebar .nav div i{
  margin-right: 16px;
}